<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-3">
        <div class="media">
            <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
            <div class="media-body">
                <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                <small class="text">Mar 20,2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-3">
        <div class="media">
            <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
            <div class="media-body">
                <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                <small class="text">Mar 20,2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-3">
        <div class="media">
            <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
            <div class="media-body">
                <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                <small class="text">Mar 20,2020</small>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mt-5 p-3">
        <div class="media">
            <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
            <div class="media-body">
                <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                <small class="text">Mar 20,2020</small>
            </div>
        </div>
    </div>
</div>
<div class="= container d-flex justify-content-end">
    <button class="button info">Xem thông báo cũ hơn</button>
</div>