<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body{
        background-color: #E6EAF5;
        font-family: 'Roboto', sans-serif;
    }
    .card{
        width: 350px;
        border: none;
        border-radius: 20px;
        background-color: #f9f9f9;
    }
    h6{
        color: #000408;
    }
    .text{
        color: #000000;
    }
    .button {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
      }
      /* Blue */
    .info {
        border-color: #2196F3;
        color: dodgerblue;
      }
    </style>
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-3">
            <div class="media">
                  <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
                  <div class="media-body">
                    <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                    <small class="text">Mar 20,2020</small>
                  </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-3">
            <div class="media">
                  <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
                  <div class="media-body">
                    <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                    <small class="text">Mar 20,2020</small>
                  </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-3">
            <div class="media">
                  <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
                  <div class="media-body">
                    <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                    <small class="text">Mar 20,2020</small>
                  </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-3">
            <div class="media">
                  <img src="https://imgur.com/3UmlFEf.png" class="mr-3">
                  <div class="media-body">
                    <h6 class="mt-2 mb-0">MCP X đã đầy</h6>
                    <small class="text">Mar 20,2020</small>
                  </div>
            </div>
        </div>
    </div>
    <div class="= container d-flex justify-content-end">
    <button class="button info">Xem thông báo cũ hơn</button>
    </div>