{% set role = request.blueprint.split('.')[0][:-3] %}
<div style="display:flex; flex-direction:column; align-items:center">
    <style>
        input[type="submit"]:checked+label {
            background-color: green;
        }

        input[type="submit"]:disabled+label {
            background-color: gray;
        }
    </style>
    <form method="get" action="{{request.path}}" id="dateGrid">
        <table class="">
            <thead>
                <tr>
                    <th scope="col">
                        <p class="btn btn-info">Thứ hai</p>
                    </th>
                    <th scope="col">
                        <p class="btn btn-info">Thứ ba</p>
                    </th>
                    <th scope="col">
                        <p class="btn btn-info">Thứ tư</p>
                    </th>
                    <th scope="col">
                        <p class="btn btn-info">Thứ năm</p>
                    </th>
                    <th scope="col">
                        <p class="btn btn-info">Thứ sáu</p>
                    </th>
                    <th scope="col">
                        <p class="btn btn-info">Thứ bảy</p>
                    </th>
                    <th scope="col">
                        <p class="btn btn-info">Chủ nhật</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for week in data["calendar"] %}
                <tr>
                    {% for day in week %}
                    {% if day == 0 %}
                    <td>
                        <input type="submit" style="opacity: 0;" name="schedule_collector" form="dateGrid" id="day{{day}}"
                            value="{{day}}" disabled>
                        <label class="btn btn-primary btn-block fa-lg mb-3" for="day{{day}}">{{day}}</label>
                    </td>
                    {% else %}
                    <td>
                        <input type="submit" style="opacity: 0;" name="schedule_collector" form="dateGrid" id="day{{day}}"
                            value="{{day}}">
                        <label class="btn btn-primary btn-block fa-lg mb-3" for="day{{day}}">{{day}}</label>
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    {% if "assigned" in data and "collector" in data["assigned"] %}
    <div>
        {% set assigned = data["assigned"]["collector"] %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lộ trình</th>
                    <th scope="col">Phương tiện</th>
                    <th scope="col">Collector ID</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(assigned|length) %}
                <tr>
                    <th scope="row">{{i}}</th>
                    <td>{{assigned[i]['route']}}</td>
                    <td>{{assigned[i]['vehicle']}}</td>
                    <td>{{assigned[i]['collector']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>