<section class="h-100 gradient-form" style="height: 100%; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1542800952-e5471ed41326?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8');">
    <div class="container py-2 h-80">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://images.unsplash.com/photo-1559128010-7c1ad6e1b6a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80"
                                        style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">UWC 2.0</h4>
                                </div>

                                <form method="post" action="/login" id="login">
                                    <!-- <p>Đăng nhập tài khoản của bạn</p> -->

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="username">Tài khoản</label>
                                        <input type="text" id="username" name="username" class="form-control"
                                            placeholder="Nhập tài khoản tại đây" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Mật khẩu</label>
                                        <input type="password" id="password" name="password" class="form-control" />
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <input class="btn btn-primary btn-block fa-lg mb-3" type="submit" form="login" value="Đăng nhập">
                                        <a class="text-muted" href="#!">Quên mật khẩu ?</a>
                                    </div>

                                    {% if check == 'fail' %}
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <h4 class="mb-4" style="color:red;">Tài khoản hoặc mật khẩu không đúng</h4>
                                            <h6 class="mb-4">Vui lòng kiểm tra lại hoặc</h>
                                        </div>
                                    {% endif %}

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <h6>Địa chỉ: Đại học Bách Khoa Thành phố Hồ Chí Minh</h6>
                                        <h6>Số điện thoại liên hệ: 123456789</h6>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>